.title {
    font-size: 30;
    horizontal-align: center;
    margin: 20;
}

button {
    font-size: 15;
    horizontal-align: center;
}

.message {
    font-size: 20;
    color: #284848;
    horizontal-align: center;
}

.drawerContent {
    background-color: #33FF66
}

.headerContent {
    font-size: 18;
    font-weight: bold;
    padding: 10, 0, 10, 0;
    horizontal-align: center;
}

.drawerMenuContent {
    background-color: #00B82E;
    font-size: 16;
    padding: 10, 0, 10, 10;
}

.drawerMenuItem {
    padding: 10, 0, 10, 0;
}

#restBtn {
    width: 100;
    horizontal-align: center;
    vertical-align: center;
}

#locationBtn {
    background-size: 360 90;
    width: 180;
    height: 43;
    horizontal-align: center;
    margin-top: 50;
    background-image: url("res://location");
    background-repeat: no-repeat;
}

#textLabel {
    horizontal-align: center;
    vertical-align: center;
    font-size: 20;
    font-weight: bold;
}

#quest{
    horizontal-align: center;
    vertical-align: center;
    font-size: 19
    color: #fff;
    font-weight: bold;
    margin-top: 50;
}

#container {
    width: 500;
    height:700;
    background-color: #000;
}

#showOnMap {
    background-image: url("res://map");
    background-size: 110 110;
    background-repeat: no-repeat;
    margin-left: 50;
}

#commentsContainer {
    padding-left: 20;
    padding-right: 20;
    background-color: #fff;
}

#sender{
    font-size: 14;
    text-decoration: underline;
}

#content {
    margin-top: 10;
    font-size: 16;
}

#addCommment {
    background-image: url("res://comment");
    background-size: 240 70;
    width: 130;
    height:55;
    background-repeat: no-repeat;
    horizontal-align: center;
    margin-bottom: -20;
}

#logo{
    margin: 10, 0, 0, 10;
    width: 100;
}

.info {
    margin-left: 20;
    font-size: 15;
}

.images {
    width: 50;
    height: 50;
    margin: 0, 0, 0, 10;
}

#decription {
    margin: 0, 15, 0, 15;
}

.page {
     background-image: url("res://back");
    background-repeat: repeat;
}

.innerPages {
    background-color: #fff;
}

.comment {
    font-size: 15;
    font-weight: bold;
    horizontal-align: center;
    margin:20,0,0,0;
}

#send {
    margin-top: 50;
    background-image: url("res://comment");
    background-size: 300 90;
    width: 150;
    height: 45;
    background-repeat: no-repeat;
}